
#bg{
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

#login:hover{
    background-color:black;
}
#register:hover{
    background-color:black;
}

#tab1{
    display: block;
    height: 400px;
    overflow: auto;
    width:100%;
}

#contry{
    margin-top:5px;
    width:100px;
}